.rowGrey {
    background-color: #d2e77e !important;   /* light grey */
}
.rowOrange {
    background-color: #fbae29f7 !important;   /* light grey */
}
.rowRed {
    background-color: #f74747 !important;   /* light grey */
}
/* Ensure table container scrolls horizontally */
#smartTableAI .sapUiTableCtrl {
    overflow-x: auto !important;
}

/* Optional: highlight frozen first column */
#smartTableAI .sapUiTableCtrl td.sapUiTableRowHdr {
    background-color: #f5f5f5; /* light gray for frozen column */
    font-weight: bold;
}