
.BigBox {
    border: 0.1px solid black;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    background-color: white; 
    display: flex;
}
.labelText {
    /* margin-right: 1rem;   space between label and value */
    margin-right: 15px; 
    font-weight: bold;
    
}
.filebox{
    margin-top: 5px;
}
.SelectionText {
    font-weight: bold;
    font-size: 1rem; 
}
