.blueHeaderTable .sapUiTableHeaderCell {
    background-color: #bcddff !important;
    border-right: 1px solid #ffffff;
}

.blueHeaderTable .sapUiTableHeaderCell .sapMLabel {
    color: rgb(0, 0, 0) !important;
    font-weight: 600;
    text-align: center;
}
